<div id="tabsRow">
</div>
<div id="tabsContent" class="tab-content">
</div>
<div id="modalBox" class="div-modal-box">
</div>
<div id="confirmModal" title="Delete Shift">Are you sure you want to delete this shift?</div>