<table class="users">
  <thead>
    <tr class="usersTableHeaderRow">
      <th>User's Name</th>
      <th>Most Recent Scan Date</th>
      <th>Total Viruses and PUPs</th>
      <th class="number"><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
