<div id="left">
  <div id="clockInOutSection" class="clockInOutSection">
  </div>
  <div id="filterSection" class="filterSection">
  </div>
</div>

<div id="right">
  <div id="shiftListSection" class="shiftListSection">
  </div>
</div>