<link rel="stylesheet" type="text/css" media="screen" href="../css/employee/myhours.css">
<table class="shifts">
<thead>
    <tr>
        <th id="timeIn">Time In</th>
        <th id="timeOut">Time Out</th>
        <th id="timeRec">Time Recorded</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th id="totalHours" colspan=3>Total Hours: {{ totalhours }}</th>
      </tr>
    </tfoot>
</table>
