<form name='shiftFilter'>
  Start Date: <input type='text' name='startDate'> <br/>
  End Date: <input type='text' name='endDate'> <br/>
  <button type='reset' value='Default'>Default</button>
  <input type='submit' value='Apply'>
</form>