<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Clock In:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='modalclockin' name='modalclockin' type='text' value={{ modalclockin }}/>
    </div>
  </div>
  <div class="div-table-col-label"><label>Clock Out:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='modalclockout' name='modalclockout' type='text' value={{ modalclockout }}/>
    </div>
  <div class="div-table-row">
    <div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
      <button id="delete" class='delete div-table-button'>
        Delete
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>