<table class="log">
  <thead>
    <tr class="invLogTableHeaderRow">
      <th>Item Name</th>
      <th>Action</th>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>