<table class="log">
  <thead>
    <tr class="invLogTableHeaderRow">
      <th id="itemName">Item Name</th>
      <th id="actionType">Action</th>
      <th id="user">User</th>
      <th id="date">Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>