<td class='fullname'> {{fullname}} </td>
<td class='username'> {{username}} </td>
<td class='position_id'> {{position_id}} </td>
<td class='schedule_color'> {{schedule_color}} </td>
<td class='email'> {{email}} </td>
<td class='phone'> {{phone}} </td>