<td class='fullname'> {{fullname}} </td>
<td class='username'> {{username}} </td>
<td class='position_id'> {{position_id}} </td>
<td class='schedule_color' type='color'><span style='color:{{schedule_color}};
    font-weight:bold'>{{schedule_color}}</span></td>
<td class='email'> {{email}} </td>
<td class='phone'> {{phone}} </td>
