<table class="users">
  <thead>
    <tr class="userTableHeaderRow">
      <th>Name</th>
      <th>Full Name</th>
      <th>Type</th>
      <th>Schedule Color</th>
      <th>Email</th>
      <th>Telephone</th>
      <th class="number"><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
