<td class='name'> {{name}} </td>
<td class='adjustment'>
  <button id='removeQty' class='removeQty {{row}}button'>-</button>
</td>
<td class='quantity number'> {{quantity}} </td>
<td class='adjustment'>
  <button id='addQty' class='addQty {{row}}button'>+</button>
</td>
<td class='vendor'> {{vendor_name}} </td>
<td class='emailThres number'> {{email_threshold}} </td>
<td class='onOrderQty number'> {{on_order_quantity}} </td>
<td></td>