<table class="inventory">
  <thead>
    <tr class="invTableHeaderRow">
      <th>Item Name</th>
      <th class="number" colspan="2">Quantity</th>
      <th></th>
      <th>Vendor Name</th>
      <th class="number">Email Threshold</th>
      <th class="number">On Order Quantity</th>
      <th class="number"><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>