<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Name:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='name' name='name' type='text' maxlength='30' />
    </div>
  </div>
  <div class="div-table-row">
  	<div class="div-table-col-label"><label>Vendor URL:</label></div>
  	<div class="div-table-col-data">
  	  <input class="div-table-col-input" id='url' name='url' type='text' maxlength='40' />
  	</div>
  </div>
  <div class="div-table-row">
  	<div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>