/*GENERAL PAGE STYLING*/

html {
	background: #d8cfc0;
}

*, body, div, a {
	margin: 0;
	padding: 0;
}

a {
	color:#ffcc66;
}

.flash_notice {
	color:#ffcc66;
}

#header p {
	color: white;
}

/*	HEADER STYLING */

#header {
	display:block;
	margin: 0 auto;
	min-width: 1260px;
	height: 80px;

	background: rgb(51,25,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(51,25,0,1) 0%, rgba(102,51,0,1) 83%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,25,0,1)), color-stop(83%,rgba(102,51,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331900', endColorstr='#663300',GradientType=0 ); /* IE6-9 */
	border: 1px black solid;

  		-moz-border-radius: 3px;
  		border-radius: 3px;
}

#header-logo {
	float: left;
	width: 300px;
	height: 55px;
	padding-top: 19px;
	padding-left: 10px;
}

#header-greet {
	text-align: right;
}

#header-menu {
	float: left;
	width: 945x;
	background: #ebd29bs;
	padding-top: 14px;
	padding-left: 5px;
}





#footer {
	background-color: black;
	text-align: center;
	width: 1265px;
	display: block;
	margin: 0 auto;

	background: rgb(51,25,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(51,25,0,1) 0%, rgba(102,51,0,1) 83%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,25,0,1)), color-stop(83%,rgba(102,51,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331900', endColorstr='#663300',GradientType=0 ); /* IE6-9 */
	border: 1px black solid;

}

#content {
	min-width: 1260px;
	display: block;
	margin: 0 auto;
	min-height: 1010px;
	background: rgb(51,25,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(51,25,0,1) 0%, rgba(102,51,0,1) 83%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,25,0,1)), color-stop(83%,rgba(102,51,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,25,0,1) 0%,rgba(102,51,0,1) 83%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331900', endColorstr='#663300',GradientType=0 ); /* IE6-9 */
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
  		-moz-border-radius: 5px;
  		border-radius: 5px;
}

#jsddm
{	margin: 0;
	padding: 0}
	
	#jsddm li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial}

	#jsddm li a
	{	display: block;
		background: #ebd29b;
		padding: 5px 10px;
		text-decoration: none;
		text-align: center;
		margin: 2px;
		width: 130px;
		color: #331900;
		white-space: nowrap;
		height: 15px;

		background: #e7d7b6; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZDdiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgxJSIgc3RvcC1jb2xvcj0iI2Q0Yjc3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWM5OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGJjYmE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #e7d7b6 0%, #d4b77d 81%, #e1c996 100%, #dbcba6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7d7b6), color-stop(81%,#d4b77d), color-stop(100%,#e1c996), color-stop(100%,#dbcba6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7d7b6 0%,#d4b77d 81%,#e1c996 100%,#dbcba6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7d7b6 0%,#d4b77d 81%,#e1c996 100%,#dbcba6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7d7b6 0%,#d4b77d 81%,#e1c996 100%,#dbcba6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e7d7b6 0%,#d4b77d 81%,#e1c996 100%,#dbcba6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7d7b6', endColorstr='#dbcba6',GradientType=0 ); /* IE6-8 */

  		-moz-border-radius: 3px;
  		border-radius: 3px;

	}

	#jsddm li a:hover
	{	background: #F9F2E1;
}
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white;
		}
		
		#jsddm li ul li
		{	float: none;
			display: inline;}
		
		#jsddm li ul li a
		{	width: auto;
			background: #ebd29b}
		
		#jsddm li ul li a:hover
		{	background: #F9F2E1}




