<td class='name'> {{name}} </td>
<td class='mac_address'> {{mac_address}} </td>
<td class='scan_date'> {{scan_date}} </td>
<td class='room_number'> {{room_number}} </td>
<td class='computer_description'> {{computer_description}} </td>
<td class='trojans_malware'> {{trojans_malware}} </td>
<td class='pups'> {{pups}} </td>
<td></td>
<td></td>
