<td class='user_name'> {{user_name}} </td>
<td class='mac_addr'> {{mac_addr}} </td>
<td class='scan_date'> {{scan_date}} </td>
<td class='room_number'> {{room_number}} </td>
<td class='cpu_desc'> {{cpu_desc}} </td>
<td class='troj_mal'> {{troj_mal}} </td>
<td class='pups'> {{pups}} </td>
<td class='scanned_by'> {{scanned_by}} </td>
<td></td>
<td></td>
