<table class="scans">
  <thead>
    <tr class="scansTableHeaderRow">
      <th>User's Name</th>
      <th>Mac Address</th>
      <th>Scan Date</th>
      <th>Room Number</th>
      <th>Computer Description</th>
      <th class="number">Trojans/Malware Found</th>
      <th class="number">PUPS Found</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
