<link rel="stylesheet" type="text/css" media="screen" href="../css/employee/timesheet.css">


<div id="left">
	<form name='shiftFilter'>
  <fieldset>
    <legend>Shift List Filter</legend>
  <div class='btns'>
    <button type='button' id='prevPayPeriod'>  <  </button>
    <button type='button' id='currPayPeriod'> Current Pay Period </button>
    <button type='button' id='nextPayPeriod'>  >  </button>
  </div>
  <table>
    <tr><td>Start Date: </td><td><input type='text' name='startDate' id='datepicker1' value= {{ start }}></td>
    <tr><td>End Date: </td><td><input type='text' name='endDate' id='datepicker2' value= {{ end }}></td>
  </table>
  <div class='btns'><button type='button' id='applyFilter'>Apply Filter</button></div>
  </fieldset>
</form>
</div>

<div>
	<iframe id="rightTimesheet" type='application/pdf' width="100%" height="100%" ></iframe>
</div>