<td class='name'>{{name}}</td>
<td class='vendor'>{{vendor_name}}</td>
<td class='emailThres number'> {{email_threshold}} </td>
<td class='quantity number'>{{quantity}}</td>
<td class='amountTd number'><input type="text" id='amount' name'amount' class='amount' maxlength="3"/></td>
<td class='onOrderQty number'> {{on_order_quantity}} </td>
<td></td>