  <table class="orders">
    <thead>
      <tr class="placeOrderTableHeaderRow">
        <th>Item Name</th>
        <th>Vendor</th>
        <th class="number">Email Threshold</th>
        <th class="number">Quantity</th>
        <th class="number">Amount</th>
        <th class="number">On Order Quantity</th>
        <th class="number"><button id="placeOrder" class="placeOrder">Place Order</button>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>