<div id="employeeSelectSection" class="employeeSelectSection">
</div>
<button id="print">Print Schedule</button>
<button id="getEmails">Copy Emails</button>
<div id="clear" class="clear"></div>
<div id="scheduleSection" class="scheduleSection">
</div>