<td class='brand_name'> {{brand_name}} </td>
<td class='serial_number selectableText'> {{serial_number}} </td>
<td class='room'> {{room}} </td>
<td class='department_name'> {{department_name}} </td>
<td class='asset_type'> {{asset_type}} </td>
<td class='assignee_name'> {{assignee_name}} </td>
<td/>
