<table class="users">
  <thead>
    <tr class="usersTableHeaderRow">
      <th id="brand">Brand Name</th>
      <th id="tag">Asset Tag</th>
      <th id="roomNum">Room Number</th>
      <th id="dpt">Department</th>
      <th id="type">Asset Type</th>
      <th id="name">Assignee's Name</th>
      <th><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
