<table class="users">
  <thead>
    <tr class="usersTableHeaderRow">
      <th>Brand Name</th>
      <th>Serial Number</th>
      <th>Room Number</th>
      <th>Department</th>
      <th>Asset Type</th>
      <th>Assignee's Name</th>
      <th><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
