<table class="users">
  <thead>
    <tr class="usersTableHeaderRow">
      <th id="brand_name">Brand Name</th>
      <th id="serial_number">Serial Number</th>
      <th id="room">Room Number</th>
      <th id="department_id">Department</th>
      <th id="asset_type">Asset Type</th>
      <th id="assignee_name">Assignee's Name</th>
      <th class="number"><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
