<form name='assetFilter'>
  <fieldset>
    <legend>Asset Filter</legend>
    <table>
      <tr class="searchTxtRow"><td>Search Text</td><td><input type="text" id="searchTxt"/></td></tr>
      <tr class="searchBtnRow"><td><button type="button" id="searchBtn">Search</button></td></tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>Column Filters</legend>
    <table>
      <tr class="searchHeaderRow"><td>Search All</td><td><input type="checkbox" id="searchAllCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Brand Name</td><td><input type="checkbox" id="brandCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Serial Number</td><td><input type="checkbox" id="serialCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Asset Tag</td><td><input type="checkbox" id="tagCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Room</td><td><input type="checkbox" id="roomCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Department</td><td><input type="checkbox" id="dptCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Mac Address</td><td><input type="checkbox" id="macCheck" checked/></td></tr>
      <tr><td class="searchDataRow">IP Address</td><td><input type="checkbox" id="ipCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Asset Type</td><td><input type="checkbox" id="typeCheck" checked/></td></tr>
      <tr><td class="searchDataRow">Assignee Name</td><td><input type="checkbox" id="nameCheck" checked/></td></tr>      
    </table>
  </fieldset>
</form>