<div class='div-table'>
{{#ifNewShift}}
  <div class="div=table-header"><label style="font-weight: bold; font-size: 16pt">Edit New Shift</label></div>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>User Name:</label></div>
    <div id="userDropDownContainer" class="div-table-col-data"> </div>
  </div>
{{else}}
{{/ifNewShift}}
  <div id=shiftModalContainer class="newShiftModalContainer"></div>
</div>
