<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-data"><label>Clock In:</label></div>
    <div class="div-table-col-data"><label>Clock Out:</label></div>    
  </div>
  <div class="div-table-row">
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='modalclockin' name='modalclockin' type='text' value={{ modalclockin }}/>
    </div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='modalclockout' name='modalclockout' type='text' value={{ modalclockout }}/>
    </div>
    </div>
  <div class="div-table-row">
    <td><div class="div-table-col-data" id='datetimeholder1'></div></td>
    <td><div class="div-table-col-data" id='datetimeholder2'></div></td>
    </div>
  <div class="div-table-row">
    <div class="div-table-col-leftBtns">
      <button id="save" class='save div-table-button'>
        Save
      </button>
      <button id="delete" class='delete div-table-button'>
        Delete
      </button>
    </div>
    <div class="div-table-col-rightBtns">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>