<form name='shiftFilter'>
  <fieldset>
    <legend>Shift List Date Filter</legend>
    <div class='btns'>
      <button type='button' id='prevPayPeriod'>  ◀  </button>
      <button type='button' id='currPayPeriod'> Current Pay Period </button>
      <button type='button' id='nextPayPeriod'>  ▶  </button>
    </div>
  <table>
    <tr><td>Start Date: </td><td><input type='text' name='startDate' id='datepicker1' value= {{ start }}></td>
    <tr><td>End Date: </td><td><input type='text' name='endDate' id='datepicker2' value= {{ end }}></td>
    <tr>
      <td/>
      <td><button type='button' id='applyFilter' colspan=2>Apply Filter</button></td>
    </tr>
  </table>
  </fieldset>
</form>