<form name='shiftSearch' id='shiftSearch'>
  <fieldset>
    <legend>Shift List Search Filter</legend>
    <div><input type='text' id='searchText'/></div>
    <div><button type='button' id='search'>Search</button></div>
  </fieldset>
</form>