<td class="name"> {{ name }} </td>
<td class="timeIn"> {{ clockIn }} </td>
<td class="timeOut"> {{ clockOut }} </td>
<td class="timeRec"> {{ timeRec }} </td>
<td class="clockout"><button type='button' id='clockout'>Clock Out</button></td>