<div id="left">
  <div id="shiftFilterSection" class="shiftFilterSection">
  </div>
  <div id="shiftSearchSection" class="shiftSearchSection">
  </div>
</div>

<div id="right">
  <div id="shiftListSection" class="shiftListSection">
  </div>
</div>