<td class='logEntry' colspan="2">
  <div class="logEntryDetails">
    <div id="roomNum" class="roomNum">{{room_name}}</div>
    <div id="logUser" class="logUser">{{username}}</div>
    <div id="messageDate" class="messageDate">{{created_at}}</div>
    <div id="message" class="message">{{message}}</div>
  </div>
</td>