<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Room:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='room_name' name='room_name' type='text' value='{{room_name}}' maxlength='15' disabled="disabled" />
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Message:</label></div>
    <div class="div-table-col-data"><textarea class="div-table-col-textarea" id='messageTextarea' maxlength='2000' name='messageTextarea'></textarea></div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>