<ul class="tabs">
  <li id="classroom" class="classroom selectedTab">Classrooms</li>
  <li id="computerclassroom" class="computerclassroom">Computer Classrooms</li>
  <li id="breakoutroom" class="breakoutroom">Breakout Rooms</li>
  <li id="specialroom" class="specialroom">Special Rooms</li>
  <li id="otherroom" class="otherroom">Other Rooms</li>
  <li id="recentevents" class="recentevents">Recent Events</li>
</ul>
<div id="tabsContent" class="tab-content">
  <div id="roomTable">
  </div>
  <div id="roomLog">
    <div id="loadingDiv" class="loadingDiv">
      <div id="loadingCircleDiv">
        <img id='loadingCircle' src='../img/loading.gif' />
      </div>
    </div>
    <table class="roomDetails">
      <tr>
        <th>Log</th>
        <th id="addButtonTh"></th>
      </tr>
    </table>
  </div>
</div>
<div id="modalBox" class="div-modal-box">
</div>