<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <title>CAE Web</title>
  
  <link type="text/css" href="../css/layouts.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/tabs.css">
  <link rel="stylesheet" href="../css/avlog/avlog.css" type="text/css" media="screen" charset="utf-8">

  <!--Load jQuery dependency -->
  <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>

  <!--Load Libs for applicaion -->
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="http://backbonejs.org/backbone-min.js"></script>
  <script src="../js/backbone.marionette.min.js"></script>
  <script src="../js/handlebars-v1.3.0.js"></script>

  <!--Initialize the Marionette app object -->
  <script src="../js/avlog/avlogInit.js"></script>

  <!--Create modules in the app object that contain controllers -->
  <script src="../js/avlog/controllers/classroomController.js"></script>
  <script src="../js/avlog/controllers/computerclassroomController.js"></script>
  <script src="../js/avlog/controllers/breakoutroomController.js"></script>
  <script src="../js/avlog/controllers/specialroomController.js"></script>
  <script src="../js/avlog/controllers/recentEventsController.js"></script>
  
    <!--Create backbone models inside modules -->
  <script src="../js/avlog/models/classroomModel.js"></script>
  <script src="../js/avlog/models/roomLogModel.js"></script>

  <!--Create Initial Tab view for app -->
  <script src="../js/avlog/views/avlogTabView.js"></script>

  <!--Create all the room views -->
  <script src="../js/avlog/views/roomItemView.js"></script>
  <script src="../js/avlog/views/roomListCompositeView.js"></script>
  <script src="../js/avlog/views/roomDetailsItemView.js"></script>
  <script src="../js/avlog/views/roomLogDetailsCompositeView.js"></script>
  <script src="../js/avlog/views/avlogAddModalView.js"></script>

  <!--Define util for templates, and main to kick the main application off -->
  <script src="../js/avlog/util.js"></script>
  <script src="../js/avlog/main.js"></script>

</head>
<body class="nosidebar">
  <div  id="fade">
  </div>
  <div id="header-wrapper">
    <div id="header">
      <div id="header-logo">
        <a title="CAE" href="/">
            <img src="../img/caeweb.png" alt="CAE" id="logo" height="55"/>
        </a>
      </div>
      <div id="header-greet">
        <p><a href="/">Logout</a> <br/>Welcome, CAE User!</p>
      </div>
      <div id="header-menu">
        <ul id="jsddm">
          <li><a href="/">Home</a>
            <li><a href="#">Directory</a></li>
            <li><a href="../roomschedule">Room Scheduling</a></li>
            <li><a href="../avlog">Audio/Visual</a></li>
            <li><a href="../inventory">Inventory</a></li>
            <li><a href="#">Employee</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="content-wrapper">
    <div id="content">
      <div id="tabsDiv">
        <div id="innerTabsDiv">
          {{{ contentTabHolder }}}
        </div>
      </div>
    </div>
  </div>
  <div id="footer-wrapper">
    <div id="footer">
      <p><b>This is the footer.</b></p>
    </div>
  </div>
</body>
</html>