<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Closed by:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='closed_by' name='closed_by' type='text' value='{{closed_by}}' maxlength='20' />
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn off CICO system:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='cico_system_off' name='cico_system_off' type='checkbox' value='{{cico_system_off}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn off all printers:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='printers_off' name='printers_off' type='checkbox' value='{{printers_off}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn off print stations:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='print_stations_off' name='print_stations_off' type='checkbox' value='{{print_stations_off}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Close/lock main lab doors:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='close_main_doors' name='close_main_doors' type='checkbox' value='{{close_main_doors}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Close/unlock side lab doors(224-229):</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='close_side_doors' name='close_side_doors' type='checkbox' value='{{close_side_doors}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Refill paper in all main lab printers:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='refill_printer_paper' name='refill_printer_paper' type='checkbox' value='{{refill_printer_paper}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Push in lab chairs:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='push_in_chairs' name='push_in_chairs' type='checkbox' value='{{push_in_chairs}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn off main lab machines:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='turn_off_machines' name='turn_off_machines' type='checkbox' value='{{turn_off_machines}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Recycle left over prints around printers:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='recycle_prints' name='recycle_prints' type='checkbox' value='{{recycle_prints}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Lock CAE Center office doors and turn lights off:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='lock_cae_office_doors' name='lock_cae_office_doors' type='checkbox' value='{{lock_cae_office_doors}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>
