<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Date:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='task_date' name='task_date' type='text'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
      <button id="delete" class='delete div-table-button'>
        Delete
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>
