<table class="checklist">
  <thead>
    <tr class="checklistTableHeaderRow">
      <th id="date">Date</th>
      <th><button id="addNew" class="addNew">Add New</button>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
