<table class="orders">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Order Date</th>
      <th>Vendor</th>
      <th>Open</th>
      <th class="number">Number Of Items</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>