<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>WIN:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='win' name='win' type='text' value='{{win}}' maxlength='9' />
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Lab:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='lab' name='lab' type='text' value='{{lab}}' maxlength='8' />
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Date:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='date' name='date' type='text'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Phone Number:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='phone' name='phone' type='text' value='{{phone_number}}' maxlength='12' />
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>
