<table class="checkouts">
  <thead>
    <tr class="checkoutsTableHeaderRow">
      <th id="checkoutDate">Checkout Date</th>
      <th id="labNumber">Lab</th>
      <th id="checkoutName">Name</th>
      <th><button id="addNewCheckout" class="addNew">Add Checkout</button></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
