<div class='div-table'>
  <div class="div-table-row">
    <div class="div-table-col-label"><label>Opened_by:</label></div>
    <div class="div-table-col-data">
      <input class="div-table-col-input" id='opened_by' name='opened_by' type='text' value='{{opened_by}}' maxlength='20' />
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn on CICO system:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='cico_system_on' name='cico_system_on' type='checkbox' value='{{cico_system_on}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn on all printers:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='printers_on' name='printers_on' type='checkbox' value='{{printers_on}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Turn on print stations:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='print_stations_on' name='print_stations_on' type='checkbox' value='{{print_stations_on}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Open/unlock main lab doors:</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='open_main_doors' name='open_main_doors' type='checkbox' value='{{open_main_doors}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-checkbox-label"><label>Open/unlock side lab doors(224-229):</label></div>
    <div class="div-table-col-checkbox">
      <input class="div-table-col-input" id='open_side_doors' name='open_side_doors' type='checkbox' value='{{open_side_doors}}'/>
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col-label">
      <button id="save" class='save div-table-button'>
        Save
      </button>
    </div>
    <div class="div-table-col-label">
      <button id="cancel" class='cancel div-table-button'>
        Cancel
      </button>
    </div>
  </div>
</div>
