<table class="vendor">
  <thead>
    <tr class="venTableHeaderRow">
      <th>Name</th>
      <th>URL</th>      
      <th class="number"><button id="addVendor" class="addVendor">Add Vendor</button></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>