<ul class="tabs">
  <li id="currentinventory" class="currentinventory">Current Inventory</li>
  <li id="vieworders" class="vieworders selectedTab">View Orders</li>
  <li id="placeorder" class="placeorder">Place Order</li>
  <li id="viewlog" class="viewlog">View Log</li>
  <li id="vendor" class="vendor">Vendors</li>
</ul>
<div id="tabsContent" class="tab-content">
  <div id="loadingDiv" class="loadingDiv">
    <div id="loadingCircleDiv">
      <img id='loadingCircle' src='../img/loading.gif' />
    </div>
  </div>
</div>
<div id="modalBox" class="div-modal-box">
</div>