<ul class="tabs">
	<li id="checkoutLab" class="checkoutLab selectedTab">Checkout Lab</li>
  <li id="virusTracker" class="virusTracker">Virus Tracker</li>
  <li id="virusUser" class="virusUser">Virus Users</li>
</ul>
<div id="tabsContent" class="tab-content">
  <div id="loadingDiv" class="loadingDiv">
    <div id="loadingCircleDiv">
      <img id='loadingCircle' src='../img/loading.gif' />
    </div>
  </div>
</div>
<div id="modalBox" class="div-modal-box">
</div>
<div id="confirmModalBox"></div>
